@use 'styles/variables';

@use 'styles/reset';

@use 'styles/components';
@use 'styles/forms';
@use 'styles/buttons';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
